<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/j2ee/dts/web-app_2_3.dtd">
<web-app>
 <context-param>
 <param-name>email</param-name>
 <param-value>admin@info.unlp.edu.ar</param-value>
 </context-param>
<servlet>
 <servlet-name>PruebaMain</servlet-name>
 <servlet-class>prueba.PruebaMain</servlet-class>
 <init-param>
 <param-name>dia</param-name>
 <param-value>Hoy es:</param-value>
 </init-param>
</servlet>
</web-app>